:root { 
--red_700:#cd3b3b; 
--red_600:#e13232; 
--red_402:#cd5252; 
--red_800:#b23a3a; 
--red_701:#c34141; 
--indigo_A200:#5463ff; 
--red_300:#e86d6d; 
--indigo_A100:#7d88ff; 
--green_900:#068203; 
--blue_A200:#4e87db; 
--red_401:#ce5c5c; 
--red_400:#c94b4b; 
--amber_A200:#ffd43c; 
--green_400:#7cac5f; 
--indigo_A200_7f:#5463ff7f; 
--black_900:#000000; 
--yellow_900:#cd9812; 
--deep_purple_A200:#aa3fff; 
--deep_purple_A700:#8608e8; 
--gray_700:#646464; 
--gray_400:#c4c4c4; 
--gray_500:#969696; 
--gray_901:#19181d; 
--red_A100:#ef8484; 
--gray_800:#393e46; 
--gray_900:#0d1222; 
--black_900_0c:#0000000c; 
--gray_300:#dddddd; 
--gray_100:#f4f4f4; 
--light_blue_900_7f:#0465827f; 
--deep_purple_A700_00:#8608e800; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--cyan_500:#0ec5d7; 
--indigo_A200_fc:#6b78fffc; 
}